@media (max-width: 421px) {
  .hero3__heading {
    font-size: 24px;
  }

  .hero3__comment {
    font-size: 30px;
  }
}

@media (max-width: 340px) {
    .hero3__heading {
      font-size: 22px;
    }
  }
